@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fonts{
  font-family: "Poppins", serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 5rem;
}
.fonts h1{
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.fonts p{
  letter-spacing: 0.5rem;
  text-transform: capitalize;
}
.fonts a{
  text-decoration: none;
  text-transform: lowercase;
}
.bg-color{
  background: linear-gradient(45deg, skyblue, pink);
}
.color{
  height: 60vh;
  /* background-color: brown; */
  /* background: radial-gradient( skyblue, pink); */
  background: url(./assets/shawarma-removebg-preview.png) no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}
.text{
  width: 60%;
  height: 20%;
  position: absolute;
  top: 50%;
  left: 2rem;
}
.flex{
  display: flex;
  flex-wrap: wrap;
 flex-direction: column;
 align-items: center;
}
.box{
  height: 15rem;
  width: 15rem;
}
.box1{
  background-color: aqua;
}
.box2{
  background-color: brown;
}
.box3{
  background-color: violet;
}